<%= form_for(patient_log) do |f| %>
  <% if patient_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_log.errors.count, "error") %> prohibited this patient_log from being saved:</h2>

      <ul>
      <% patient_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :namePatient %>
    <%= f.text_field :namePatient %>
  </div>

  <div class="field">
    <%= f.label :dateAppointment %>
    <%= f.datetime_select :dateAppointment %>
  </div>

  <div class="field">
    <%= f.label :nameMedic %>
    <%= f.text_field :nameMedic %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :info %>
    <%= f.text_area :info %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
