<p id="notice"><%= notice %></p>

<p>
  <strong>Namepatient:</strong>
  <%= @patient_log.namePatient %>
</p>

<p>
  <strong>Dateappointment:</strong>
  <%= @patient_log.dateAppointment %>
</p>

<p>
  <strong>Namemedic:</strong>
  <%= @patient_log.nameMedic %>
</p>

<p>
  <strong>Status:</strong>
  <%= @patient_log.status %>
</p>

<p>
  <strong>Info:</strong>
  <%= @patient_log.info %>
</p>

<%= link_to 'Edit', edit_patient_log_path(@patient_log) %> |
<%= link_to 'Back', patient_logs_path %>
