<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :namePatient %>
    <%= f.text_field :namePatient %>
  </div>

  <div class="field">
    <%= f.label :photoPatient %>
    <%= f.text_field :photoPatient %>
  </div>

  <div class="field">
    <%= f.label :lastAppointment %>
    <%= f.datetime_select :lastAppointment %>
  </div>

  <div class="field">
    <%= f.label :agePatient %>
    <%= f.number_field :agePatient %>
  </div>

  <div class="field">
    <%= f.label :detailsPatient %>
    <%= f.text_area :detailsPatient %>
  </div>

  <div class="field">
    <%= f.label :info %>
    <%= f.text_area :info %>
  </div>

  <div class="field">
    <%= f.label :appointmentsTotal %>
    <%= f.number_field :appointmentsTotal %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
