<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Namepatient</th>
      <th>Photopatient</th>
      <th>Lastappointment</th>
      <th>Agepatient</th>
      <th>Detailspatient</th>
      <th>Info</th>
      <th>Appointmentstotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.namePatient %></td>
        <td><%= patient.photoPatient %></td>
        <td><%= patient.lastAppointment %></td>
        <td><%= patient.agePatient %></td>
        <td><%= patient.detailsPatient %></td>
        <td><%= patient.info %></td>
        <td><%= patient.appointmentsTotal %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
