<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :namePatient %>
    <%= f.text_field :namePatient %>
  </div>

  <div class="field">
    <%= f.label :nameMedic %>
    <%= f.text_field :nameMedic %>
  </div>

  <div class="field">
    <%= f.label :dateTimeStart %>
    <%= f.datetime_select :dateTimeStart %>
  </div>

  <div class="field">
    <%= f.label :dateTimeEnd %>
    <%= f.datetime_select :dateTimeEnd %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
