<p id="notice"><%= notice %></p>

<p>
  <strong>Namepatient:</strong>
  <%= @appointment.namePatient %>
</p>

<p>
  <strong>Namemedic:</strong>
  <%= @appointment.nameMedic %>
</p>

<p>
  <strong>Datetimestart:</strong>
  <%= @appointment.dateTimeStart %>
</p>

<p>
  <strong>Datetimeend:</strong>
  <%= @appointment.dateTimeEnd %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
